name: Deploy Backend to Render

on:
  push:
    branches: [ main ]
    paths:
      - 'BE/**'
      - '.github/workflows/render.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST "https://api.render.com/v1/services/THAY_SRV_ID_CỦA_BẠN_VÀO_ĐÂY/deploys" \
            -H "Authorization: Bearer ${{ secrets.rnd_wny9PEBnl6NIeQ6wswJqka3fItK2 }}"